MONGO_URI=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHANNEL_ID=
SESSION=
PORT=3000

# Admin Credentials
ADMIN_USER=admin
ADMIN_PASSWORD=qwerty@12345

# groww credentials
GROWW_ACCESS_TOKEN=
GROWW_BASE_URL=